/* Background of page */
.background{
  width:50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Each project card */
.highlight{
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1), 0 2px 5px 0 rgba(0,0,0,0.1);
}

.highlight:hover{
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.3), 0 2px 5px 0 rgba(0,0,0,0.3);
}

/* Box that contains all of the projects */
.highlightContainer{
  overflow-y: scroll;
  overflow-x: hidden;
  height:85vh;
  padding: 5px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #ededed;
  border-width: 1px;
}

.highlightContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
	border-radius: 10px;
	background-color: #f2f2f2;
}

.highlightContainer::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.highlightContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #555;
}

.highlightDetails{
  height:85vh;
  padding: 10px;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1), 0 4px 10px 0 rgba(0,0,0,0.19);
  background-color: #ffffff;
}

/* All of the app. */
.App{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Personal card details*/
.details{
  height:85vh;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1), 0 4px 10px 0 rgba(0,0,0,0.19);
}

.about{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1), 0 4px 10px 0 rgba(0,0,0,0.19);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

.contact{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1), 0 4px 10px 0 rgba(0,0,0,0.19);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

/* Fade in animation for left detail card*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
